<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../img/icons/favicon-32x32.png" type="image/x-icon">
    <title>IndieRush - About</title>
</head>
<body class="about">
    {{>header}}
    <div class="nav_filler"></div>
    <section style="text-align: center; margin: 60px;">
        <p>IndieRush founded in 2021 to empower indie games and indie game developers via connecting players and developers in one platform.
            <br><br>
            Users can discover currated collection of indie games, like them (experimental), and add their collection to go back to them later (not shipped yet).
            <br><br>
            IndieRush. From devs to players. 
        </p>
    </section>
    {{>footer}}
    <script src="../js/header.js"></script>
</body>
</html>