<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../img/icons/favicon-32x32.png" type="image/x-icon">
    <title>IndieRush</title>
</head>
<body class="index">
    {{>header}}
    <section class="main-carousel">
        <div class="carousel-wrap">
            <div class='carousel-container'>
                <div class="crsl_prev"><button class="crsl_btn crsl_prev_btn"><img src="../img/icons/left.png" class="arrow"></button></div>
                
                <div id= "win1" class="carousel-window"><a href="../html/hades.html"><img src="../img/posters/hades/hades3.jpg" alt="" srcset=""></a></div>
                <div id= "win2" class="carousel-window"><a href="../html/deadcells.html"><img src="../img/posters/deadcells/dc1.jpg" alt="" srcset=""></a></div>
                <div id= "win3" class="carousel-window"><a href="../html/ori.html"><img src="../img/posters/ori/ori3.jpg" alt=""></a></div>
                <div id= "win4" class="carousel-window"><a href="../html/moonlighter.html"><img src="../img/posters/moonlighter/ml3.jpg" alt=""></a></div>
                <div id= "win5" class="carousel-window"><a href="../html/turnip.html"><img src="../img/posters/turnipboy/turnip3.jpg" alt=""></a></div>
                <div id= "win6" class="carousel-window"><a href="../html/darkestdungeon.html"><img src="../img/posters/darkestdungeon/dd3.jpg" alt=""></a></div>            

                <div class="crsl_next"><button class="crsl_btn crsl_next_btn"><img src="../img/icons/right.png" class="arrow"></button></div>
            </div>
        </div>
    </section>

    <section>
        <a href="/rpg">        
            <div class="promot_card">
                <div><img src="../img/icons/swords.png" alt="">&#160;&#160;<h1>Role Playing Collection</h1>&#160;&#160;<img src="../img/icons/swords.png" alt=""></div>
            </div>
        </a>
    </section>

    <section>
        <div class="product_showcase_grid">
            <div class="showcase_card showcase_bigger_card"><!--create a bigger picture button and insert innerhtml img to bigger picture mod-->
                <div class="product_topbar">
                    <div></div>
                    <div class="product_btn_ctn product_heart_btn"><button><img src="../img/icons/heart.png" alt=""></button></div>
                </div>
                <a href="../html/stardewvalley.html"><img src="../img/posters/stardewvalley/svshowcase.jpg" alt="" srcset=""></a>
                <div class="showcase_card_desc">
                    <div><h3>Stardew Valley</h3></div>
                    <div>
                        <p>A relaxing farming game.</p>
                    </div>
                </div>
            </div>
            <div class="showcase_card showcase_smaller_card">
                <div class="product_topbar">
                    <div></div>
                    <div class="product_btn_ctn product_heart_btn"><button><img src="../img/icons/heart.png" alt=""></button></div>
                </div>
                <a href="../html/moonlighter.html"><img src="../img/posters/moonlighter/mlshowcase.jpg" alt=""></a>
                <div class="showcase_card_desc">
                    <div><h3>Moonlighter</h3></div>
                    <div>
                        <p>An action rpg with rogue light elements.</p>
                    </div>
                </div>
            </div>
            <div class="showcase_card showcase_smaller_card">
                <div class="product_topbar">
                    <div></div>
                    <div class="product_btn_ctn product_heart_btn"><button><img src="../img/icons/heart.png" alt=""></button></div>
                </div>
                <a href="../html/talespire.html"><img src="../img/posters/talespire/tsshowcase.jpg" alt="" srcset=""></a>
                <div class="showcase_card_desc">
                    <div><h3>Talespire</h3></div>
                    <div>
                        <p>A pen and paper RPG.</p>
                    </div>
                </div>
            </div>
            <div class="showcase_card showcase_smaller_card">
                <div class="product_topbar">
                    <div></div>
                    <div class="product_btn_ctn product_heart_btn"><button><img src="../img/icons/heart.png" alt=""></button></div>
                </div>
                <a href="../html/deadcells.html"><img src="../img/posters/deadcells/dcshowcase.jpg" alt=""></a>
                <div class="showcase_card_desc">
                    <div><h3>Deadcells</h3></div>
                    <div>
                        <p>A rogue-lite metrovania game.</p>
                    </div>
                </div>
            </div>
            <div class="showcase_card showcase_smaller_card">
                <div class="product_topbar">
                    <div></div>
                    <div class="product_btn_ctn product_heart_btn"><button><img src="../img/icons/heart.png" alt=""></button></div>
                </div>
                <a href="../html/islanders.html"><img src="../img/posters/islanders/isshowcase.jpg" alt=""></a>
                <div class="showcase_card_desc">
                    <div><h3>Islanders</h3></div>
                    <div>
                        <p>A strategy game about building cities on colorful islands.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="product_carousel">
            <div class='product_carousel_container'>
                <div class="slide_back"><button class="slide_back_btn slide_btn"><img src="../img/icons/left.png" class="arrow" alt=""></button></div>

                <div class="product_carousel_window"><a href="../html/hades.html"><img src="../img/posters/hades/header.jpg" alt=""></a></div>
                <div class="product_carousel_window"><a href="../html/hollow.html"><img src="../img/posters/hollow_kn/header.jpg" alt=""></a></div>
                <div class="product_carousel_window"><a href="../html/prisonarch.html"><img src="../img/posters/prisonarch/header.jpg" alt=""></a></div>
                <div class="product_carousel_window"><a href="../html/kenshi.html"><img src="../img/posters/kenshi/header.jpg" alt=""></a></div>
                <div class="product_carousel_window"><a href="../html/stoneshard.html"><img src="../img/posters/stoneshard/header.jpg" alt=""></a></div>
                <div class="product_carousel_window"><a href="../html/moonlighter.html"><img src="../img/posters/moonlighter/header.jpg" alt=""></a></div>
                <div class="product_carousel_window"><a href="../html/turnip.html"><img src="../img/posters/turnipboy/header.jpg" alt=""></a></div>
                <div class="product_carousel_window"><a href="../html/valheim.html"><img src="../img/posters/valheim/header.jpg" alt=""></a></div>
                <div class="product_carousel_window"><a href="../html/ori.html"><img src="../img/posters/ori/header.jpg" alt=""></a></div>
                <div class="product_carousel_window"><a href="../html/talespire.html"><img src="../img/posters/talespire/header.jpg" alt=""></a></div>
                <div class="product_carousel_window"><a href="../html/loophero.html"><img src="../img/posters/loophero/header.jpg" alt=""></a></div>
                
                <div class="slide_foward"><button class="slide_foward_btn slide_btn"><img src="../img/icons/right.png" class="arrow" alt=""></button></div>
            </div>
        </div>
    </section>

    <section>
        <a href="/action">
            <div class="index_content_end">
                <p>Here's More!</p>
            </div>
        </a>
    </section>

    {{>footer}}
<script src="../js/product_like.js"></script>
<script src="../js/carousel.js"></script>
<script src="../js/header.js"></script>
<script src="../js/index.js"></script>
</body>
</html>