<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/news.css">
    <link rel="shortcut icon" href="../img/icons/favicon-32x32.png" type="image/x-icon">
    <title>IndieRush - News</title>
</head>
<body class="news">
    {{>header}}
    <div class="nav_filler"></div>
    <section>
        <h1>News</h1>
        <div class="news_block">
            <div class="news_paragraph_ctn">
                <h2>Dorfromantik</h2>
                <h3>NEW DEMO for BIG Festival! 27. April - 9. May</h3>
                <p>
                    Hey you wonderful people
                    <br><br>
                    GOOD NEWS!
                    <br><br>
                    We're part of the BIG Festival this year, nominated in the category "Best Student Game" which is fantastic!<br>
                    Thank you Team BIG!
                    <br><br>
                    For the duration of the festival we've been in contact with the BIG Festival crew and as they are hosting a special "free play" event, we have created a NEW DEMO for Dorfromantik, which you can try from the 27th of April to the 9th May.
                    <br><br>
                    So, for all of you who have watched our game since release and are unsure if it's the right game for you, please check out our DEMO and make a more informed decision.
                    <br><br>
                    Also make sure to check out all the other fantastic games which you can try for free on the BIG Festival page
                    <br><br>
                    As always thank you all so much for being a fantastically welcoming and supportive community, thanks for your understanding that we're doing our best to handle the huge amount of tasks that have to be taken care of daily by us, now that Dorfromantik is released and enjoyed by so many players.
                    <br><br>
                    We're truly overwhelmed and are doing our best to improve the game and our activity here in the community hub.
                    <br><br>
                    Best,<br>
                    Team Toukana
                </p>
            </div>
        </div>
        <div class="news_block">
            <div class="news_paragraph_ctn">
                <h2>Hades</h2>
                <h3>Post-Launch Patch - April 2021</h3>
                <p>
                    This patch adds a Japanese text translation to our list of supported language options. We are still putting the finishing touches on this translation and appreciate any feedback. Thank you for playing!
                    <br><br>
                    Miscellaneous<br>
                    • Added Japanese language option in the Languages menu<br>
                    • Added Japanese Localization team to the Credits
                    <br><br>
                    
                    Bug Fixes<br>
                    • You can no longer rudely walk away from Cerberus when forging a bond with him<br>
                    • Other minor fixes
                    <br><br>
                    Quote of the Patch<br>
                    Sisyphus is still there in the halls of Tartarus, pushing that boulder up the hill and getting almost to the top before it rolls back down and he has to start once again.
                    <br><br>
                    ~Mythos<br>
                    (Stephen Fry)
                </p>
            </div>
        </div>
        <div class="news_block">
            <div class="news_paragraph_ctn">
                <h2>Valheim</h2>
                <h3>Development news 28/05/21</h3>
                <p>
                    Time flies and summer is just around the corner. Here at Iron Gate, we’re still working from home, and we’re still looking for the perfect office. While those two things remain unchanged, exciting things are still happening within the company. The last couple of weeks we’ve been having interviews with several potential future coworkers, and we’re really excited to grow with more talent! While it may take a couple of weeks before the time comes, we’re really looking forward to introducing our new colleagues to you!
                    <br><br>
                    We have in a way already received a new team member, say hello to Valheim the horse! We collaborated with our friends at Skövde ryttarförening (Sköve riding club) to get them a new horse (technically pony) for their riding school. Isn’t she a beauty? You will definitely see more of her in the future. (This does not mean that we’ll introduce horses to the game, but it does mean that Iron Gate will take field trips to the stables to meet our four legged colleague)
                    <br>
                    <br>
                    Since last time we have as usual made some updates and fixes for the game. We, for example, overhauled the harpoon mechanics, added a pre saving message and updated the looks of the troll and two bosses!
                    <br><br>
                    Our work on Hearth and Home is still going well. The update is starting to take shape and the past month has been very productive, with many new items and mechanics being finalized. There are of course many more things we want to make before the update is released, as we don’t want to rush it. In our last devblog we explained how we work, wanting to let things take the time they need, and not setting a release date before we know for certain that the game is in a state that we can proudly present, and the response we got was fantastic! We are eternally grateful for having such a kind and understanding community! We are very proud to get to be on this journey with all of you.
                    <br><br>
                    In our last two updates we gave you some sneak peeks, and this time is no different! We all have a great time reading your theories on what the items could be, some are more correct than others, but they are all equally creative. This month we present to you these pictures, what do you think they could be?
                    <br>
                </p>
            </div>
        </div>
    </section>

  {{>footer}}
  
<script src="../js/header.js"></script>

</body>
</html>