<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/genre.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../img/icons/favicon-32x32.png" type="image/x-icon">
    <title>IndieRush - RPG</title>
</head>
<body class="genre">
    {{>header}}
    <div class="nav_filler"></div>
    <h1>Role Playing Games</h1>
    <section class="genre_page-carousel">
        <div class="genre_page_carousel-wrap">
            <div class='carousel-container'>
                <div class="crsl_prev"><button class="crsl_btn crsl_prev_btn"><img src="../img/icons/left.png" class="arrow"></button></div>
                
                <div id= "win1" class="carousel-window"><a href="../html/moonlighter.html"><img src="../img/posters/moonlighter/ml2.jpg" alt=""></a></div>
                <div id= "win2" class="carousel-window"><a href="../html/darkestdungeon.html"><img src="../img/posters/darkestdungeon/dd3.jpg" alt=""></a></div>
                <div id= "win3" class="carousel-window"><a href="../html/stardewvalley.html"><img src="../img/posters/stardewvalley/sv1.jpg" alt=""></a></div>            

                <div class="crsl_next"><button class="crsl_btn crsl_next_btn"><img src="../img/icons/right.png" class="arrow"></button></div>
            </div>
        </div>
    </section>

    <section>
        <div class="product-grid">
            <div class="product-cell">
                <div class="product_topbar">
                    <div class="product_btn_ctn product_expand_btn"><button><img src="../img/icons/expand.png" alt=""></button></div>
                    <div class="product_btn_ctn product_heart_btn"><button><img src="../img/icons/heart.png" alt=""></button></div>
                </div>
                <div class="cover-container"><a href="../html/valheim.html"><img src="../img/posters/valheim/valheim_cover.jpg" alt=""></a></div>
            </div>
            <div class="product-cell">
                <div class="product_topbar">
                    <div class="product_btn_ctn product_expand_btn"><button><img src="../img/icons/expand.png" alt=""></button></div>
                    <div class="product_btn_ctn product_heart_btn"><button><img src="../img/icons/heart.png" alt=""></button></div>
                </div>
                <div class="cover-container"><a href="../html/darkestdungeon.html"><img src="../img/posters/darkestdungeon/dd_cover.jpg" alt=""></a></div>
            </div>
            <div class="product-cell">
                <div class="product_topbar">
                    <div class="product_btn_ctn product_expand_btn"><button><img src="../img/icons/expand.png" alt=""></button></div>
                    <div class="product_btn_ctn product_heart_btn"><button><img src="../img/icons/heart.png" alt=""></button></div>
                </div>
                <div class="cover-container"><a href="../html/kenshi.html"><img src="../img/posters/kenshi/kenshi_cover.jpg" alt=""></a></div>               
            </div>
            <div class="product-cell">
                <div class="product_topbar">
                    <div class="product_btn_ctn product_expand_btn"><button><img src="../img/icons/expand.png" alt=""></button></div>
                    <div class="product_btn_ctn product_heart_btn"><button><img src="../img/icons/heart.png" alt=""></button></div>
                </div>
                <div class="cover-container"><a href="../html/stardewvalley.html"><img src="../img/posters/stardewvalley/sv_cover.jpg" alt=""></a></div>                
            </div>
            <div class="product-cell">
                <div class="product_topbar">
                    <div class="product_btn_ctn product_expand_btn"><button><img src="../img/icons/expand.png" alt=""></button></div>
                    <div class="product_btn_ctn product_heart_btn"><button><img src="../img/icons/heart.png" alt=""></button></div>
                </div>
                <div class="cover-container"><a href="../html/talespire.html"><img src="../img/posters/talespire/ts_cover.jpg" alt=""></a></div>                
            </div>
            <div class="product-cell">
                <div class="product_topbar">
                    <div class="product_btn_ctn product_expand_btn"><button><img src="../img/icons/expand.png" alt=""></button></div>
                    <div class="product_btn_ctn product_heart_btn"><button><img src="../img/icons/heart.png" alt=""></button></div>
                </div>
                <div class="cover-container"><a href="../html/slaythespire.html"><img src="../img/posters/slay_the_sp/sts_cover.jpg" alt=""></a></div>               
            </div>
            <div class="product-cell">
                <div class="product_topbar">
                    <div class="product_btn_ctn product_expand_btn"><button><img src="../img/icons/expand.png" alt=""></button></div>
                    <div class="product_btn_ctn product_heart_btn"><button><img src="../img/icons/heart.png" alt=""></button></div>
                </div>
                <div class="cover-container"><a href="../html/moonlighter.html"><img src="../img/posters/moonlighter/ml_cover.jpg" alt=""></a></div>
            </div>
            <div class="product-cell">
                <div class="product_topbar">
                    <div class="product_btn_ctn product_expand_btn"><button><img src="../img/icons/expand.png" alt=""></button></div>
                    <div class="product_btn_ctn product_heart_btn"><button><img src="../img/icons/heart.png" alt=""></button></div>
                </div>
                <div class="cover-container"><a href="../html/turnip.html"><img src="../img/posters/turnipboy/turnip_cover.jpg" alt=""></a></div>
            </div>
        </div>
    </section>
    
 {{>footer}}

<script src="../js/product_like.js"></script>
<script src="../js/carousel.js"></script>
<script src="../js/header.js"></script>
<script src="../js/genre.js"></script>
</body>
</html>