<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../img/icons/favicon-32x32.png" type="image/x-icon">
    <title>IndieRush - Sitemap</title>
</head>
<body class="sitemap">
    {{>header}}
    <div class="nav_filler"></div>
    <section style="margin: 80px auto 0 auto; width: 80vw;">
        <ul>
            <li>
                <a href="../html/index.html">Index</a>
                <ul>
                    <li><a href="../html/profile.html">Profile</a></li>
                    <li><a href="../html/news.html">News</a></li>
                    <li><a href="../html/action_genre.html">Action</a>
                    <ul>
                        <li><a href="../html/hades.html">Hades</a></li>
                        <li><a href="../html/hollow.html">Hollow Knight</a></li>
                        <li><a href="../html/hrot.html">Hrot</a></li>
                        <li><a href="../html/turnip.html">Turnip Boy Commits Tax Evasion</a></li>
                        <li><a href="../html/ori.html">Ori and the Blind Forest</a></li>
                        <li><a href="../html/talespire.html">Talespire</a></li>
                        <li><a href="../html/moonlighter.html">Moonlighter</a></li>
                        <li><a href="../html/deadcells.html">Deadcells</a></li>
                    </ul>
                    </li>
                    <li><a href="../html/rpg_genre.html">RPG</a>
                        <ul>
                            <li><a href="../html/valheim.html">Valheim</a></li>
                            <li><a href="../html/darkestdungeon.html">Darkest Dungeon</a></li>
                            <li><a href="../html/kenshi.html">Kenshi</a></li>
                            <li><a href="../html/stardewvalley.html">Stardew Valley</a></li>
                            <li><a href="../html/talespire.html">Talespire</a></li>
                            <li><a href="../html/slaythespire.html">Slay the Spire</a></li>
                            <li><a href="../html/moonlighter.html">Moonlighter</a></li>
                            <li><a href="../html/turnip.html">Turnip Boy Commits Tax Evasion</a></li>
                        </ul>
                    </li>
                    <li><a href="../html/strategy_genre.html">Strategy</a>
                        <ul>
                            <li><a href="../html/dorfromantik.html">Dorfromantik</a></li>
                            <li><a href="../html/darkestdungeon.html">Darkest Dungeon</a></li>
                            <li><a href="../html/prisonarch.html">Prison Architect</a></li>
                            <li><a href="../html/islanders.html">Islanders</a></li>
                            <li><a href="../html/loophero.html">Loophero</a></li>
                            <li><a href="../html/stoneshard.html">Stoneshard</a></li>
                            <li><a href="../html/kenshi.html">Kenshi</a></li>
                            <li><a href="../html/hades.html">Hades</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </section>
    {{>footer}}
<script src="../js/header.js"></script>
</body>
</html>