<footer>
    <div class="footer_content">
        <p>IndieRush</p>
        <p>2021</p>
        <p><a href="/about">About Us</a>·<a href="/sitemap">Sitemap</a></p>
        <p><a href="mailto:indierush@outlook.com">indierush@outlook.com</a></p>
        <p><a href="https://twitter.com/rush_indie"><img src="../img/icons/twitter.png" alt=""></a>&#160;&#160;&#160;&#160;&#160;&#160;<a href="https://pin.it/2Ton1bZ"><img src="../img/icons/pinterest.png" alt=""></a></p>
    </div>
</footer>