    <header class="header">
        <div class="mbl_bar">
            <div class="mbl_bar_content_wrap">
                <table class="mbl_bar_table">
                    <thead>
                        <tr>
                            <td><div class="mbl_profile_btn"><a href="/profile"><img src="../img/icons/user.png" alt=""></a></div></td>
                            <td class="mbl_table_exit_cell"><div class="exit_btn_ctn"><button class="exit_mbl_bar_btn"><img src="../img/icons/close.png" alt=""></button></div></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><div><span><a href="/action">Action</a></span></div></td></tr>
                        <tr><td><div><span><a href="/strategy">Strategy</a></span></div></td></tr>
                        <tr><td><div><span><a href="/rpg">Role Playing</a></span></div></td></tr>
                    </tbody>
                </table>
            </div>
        </div> 
        <nav class="navbar">
            <div class="hamburger_menu nav_content nav_action"><img src="../img/icons/menu.png" alt=""></div>
            <div class="mbl_logo_wrap nav_content"><a href="/"><img src="../img/icons/logo.png" id="logo"></a></div>
            <div class="nav_cat_wrapper nav_content">
            <div class="nav_brand_logo_wrapper nav_content"><a href="/"><img src="../img/icons/logo.png" id="logo"></a></div>
                <div class="nav_cat genre_cat">
                    <span>Genre</span>
                    <div class="nav_cat_menu">
                        <div><span><a href="/action">Action</a></span></div>
                        <div><span><a href="/strategy">Strategy</a></span></div>
                        <div><span><a href="/rpg">Role Playing</a></span></div>
                    </div>
                </div>
                <div class="nav_cat news_cat"><span><a href="/news">News</a></span></div>
            </div>
            <div class="nav_action_wrapper nav_content">
                <div class="nav_fav_ico nav_action"><img src="../img/icons/heart.png" alt=""></div>
                <div class="nav_profile_ico nav_action"><a href="/profile"><img src="../img/icons/user.png" alt=""></a></div>
            </div>
        </nav>
    </header>